.line-through {
  text-decoration: line-through;
  color: green;
  font-size: large;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(73, 182, 236, 0.325);
  margin-bottom: 2px;
}

.delete {
  display: none;
}

p {
  word-wrap: break-word;
}

main {
  background-image: url(./images.png);
  padding: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

label {
  font-weight: 900;
  color: azure;
}
